<footer>
<div class="container-fluid bg-light py-3 border-top">
    <div class="container">
        <div class="row">
            <div class="col text-left">
                   <a href="https://github.com/tomlecki/bootimber">Bootimber Theme</a>, {{"now"|date('Y')}}
            </div>
        </div>
    </div>
</div>
</footer>
{{ function('wp_footer') }}
