<div class="container-fluid bg-light border-bottom pt-3 pb-2">
    <div class="container">
        <h6>
            To edit this template go to:
            <span class="badge badge-warning font-weight-normal">
                {{ site.theme.path ~ '/templates' ~ template_path}}
            </span>
        </h6>
    </div>
</div>
